$font-sizes: (
  1: $xxl_fontSize,
  2: $xl_fontSize,
  3: $l_fontSize,
  4: $m_fontSize,
  5: $s_fontSize,
  6: $xs_fontSize,
  7: $xxs_fontSize,
  8: $xxxs_fontSize,
);

$spacers: (
  0: 0,
  1: ($spacer * .25),    //4px
  2: ($spacer * .5),     //8px
  3: $spacer,            //16px
  4: ($spacer * 1.5),    //24px
  5: ($spacer * 2),      //32px
  6: ($spacer * 3),      //48px
  7: ($spacer * 3.5),    //56px
  8: ($spacer * 4),      //64px
  9: ($spacer * 6),      //80px
  10: ($spacer * 8),     //128px
);

$fw: (
  fw-light: $light,
  fw-normal: $regular,
  fw-bold: $bold,
  
);


  $theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "gray":       $gray,
);

$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      10: 10%,
      15: 15%,
      25: 25%,
      35: 35%,
      45: 45%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,

    )
  ),
  "height": (
    property: height,
    class: h,
    values: (
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      35: 35%,
      45: 45%,
      50: 50%,
      75: 75%,
      80: 80%,
      100: 100%,
      auto: auto,

    )
  ),

  "width-fixed": (
    property: width,
    class: wf,
    values: (
      0: 0,
      1: ($spacer * .25),    //4px
      2: ($spacer * .5),     //8px
      3: $spacer,            //16px
      4: ($spacer * 1.5),    //24px
      5: ($spacer * 2),      //32px
      6: ($spacer * 4),      //64px
      7: ($spacer * 6),      //96px
      8: ($spacer * 8),      //128px
      9: ($spacer * 10),     //160px
      10: ($spacer * 15),    //230px

    )
  ),

  "height-fixed": (
    property: height,
    class: hf,
    values: (
      0: 0,
      1: ($spacer * .25),    //4px
      2: ($spacer * .5),     //8px
      3: $spacer,            //16px
      4: ($spacer * 1.5),    //24px
      5: ($spacer * 2),      //32px
      6: ($spacer * 4),      //64px
      7: ($spacer * 6),      //96px
      8: ($spacer * 8),      //128px
      9: ($spacer * 10),     //160px
      10: ($spacer * 15),    //230px
    )
  ),

 "viewport-width": (
      property: width,
      class: vw,
      values: (
        70: 70vw,
        100: 100vw
        )
    ),
 "viewport-height": (
      property: height,
      class: vh,
      values: (
        60: 60vh,
        100: 100vh
        )
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        
        70: 70%,
        100: 100%
        )
    ),


)