// ===Font-Size===
$xxxs_fontSize: 8px;
$xxs_fontSize: 12px;
$xs_fontSize: 14px;
$s_fontSize: 16px;
$m_fontSize: 24px;
$l_fontSize: 32px;
$xl_fontSize: 40px;
$xxl_fontSize: 48px;

// ===Font-weight===
$bold: 700;
$regular: 400;
$light: 300;

// ===Font-family===
$main-font: "Lato", sans-serif;

// ===Colors===
$primary: #1693d9;
$success: #2f9f41;
$warning: #eb9a3f;
$danger: #d72822;
$dark: #191a1b;
$gray: #4a4a4a;
$light: #ffffff;
